<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--icon-->
  <link rel="icon" href="logo.png">

  <!--mystyle-->
  <link type="text/css" href="/styles/styles.css">

  <!--fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Laila:wght@400;500;600;700&display=swap" 
  rel="stylesheet">

  <!--feather icon-->
  <script src="https://unpkg.com/feather-icons"></script>

  <title>DestiNow</title>
</head>


<body>

  <!--navbar start-->
  <nav class="navbar">
   <a href="#" class="logo">
    <img src="logo.png" alt="">
   </a>

   <div class="navbar-nav">
    <a href="#">Home</a>
    <a href="#">Wisata</a>
    <a href="#">Favorite</a>
    <a href="#/about-us">About Us</a>
   </div>

   <div class="navbar-extra">
    <a href="#" id="search"><i data-feather="search"></i></a>
    <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
  </div>
  </nav>

    <!--hero section-->
    <div class="hero" >
        <h1 class="hero__title">Desti Now ...</h1>
          <p class="hero__tagline">
            <br>Liburan membuat anda melupakan
              <br>permasalahan dan berfokus pada 
                <br>keindahan kehidupan..
          </p>
      </div>
    </div>

    <main>
      <div id="mainContent">
      <div class="list" id="list"></div>
    </div>
    </main>

    <!--footer-->
<footer>
  <section class="container">
    <div class="customer-services">
      <h3>Customer Services</h3>
      <p> Mon - Fri : 9 AM – 6 PM</p>
      <p> Saturday : 9 AM – 3 PM</p>
      <p> Sunday and Public Holidays : Off</p>
      <div class="contact">
      <p> Phone: (+62-21) 8064 8565</p>
      <p> Email: destinow@gmail.com</p>
      </div>
    </div>

    <div class="our-services">
      <h3>Our Services</h3>
      <p>Web Design</p>
      <p>Web Development</p> 
      <p>Product Management</p>
      <p>Marketing</p>
      <p>Graphic Design</p>    
    </div>

    <div class="socials">
      <a href="#"><i data-feather="linkedin"></i></a>
      <a href="#"><i data-feather="facebook"></i></a>
      <a href="#"><i data-feather="instagram"></i></a>
    </div>
  </section>

  <section class="copyright">
  <p>&copy;2023 DestiNow | DestiNow adalah project capstone 
    yang terdaftar pada Dicoding Indonesia
  </p>
</section>
</footer>



    <!--<footer>
      <div class="container">
        <div class="footer-schedule">
        <h3>Customer Service</h3>
            <p> Mon - Fri : 9 AM – 6 PM</p>
            <p> Saturday : 9 AM – 3 PM</p>
            <p> Sunday and Public Holidays : Off</p>
            <p> Phone: (+62-21) 8064 8565</p>
            <p> Email: destinow@gmail.com</p>
      </div>
      
      <div class="footer-services">
        <h3>Our Services</h3>
                <p>Web Design</p>
                <p>Web Development</p> 
                <p>Product Management</p>
                <p>Marketing</p>
                <p>Graphic Design</p>     
          </div>

        <aside>
          <div class="socials">
            <a href="#"><i data-feather="linkedin"></i></a>
            <a href="#"><i data-feather="facebook"></i></a>
            <a href="#"><i data-feather="instagram"></i></a>
          </div>
        </aside>  
               
        <div class="bottom-bar">
          <p>&copy;2023 DestiNow | DestiNow adalah project capstone 
            yang terdaftar pada Dicoding Indonesia
          </p>
        </div>
        </div  

    </footer>
  -->


    <!--feather icon-->
    <script>
      feather.replace();
    </script>
</body>
</html>