/* Laptop */
@media only screen (max-width: 1200px) { 
.list {
  grid-template-columns: repeat(4, 1fr);
}
}
  
/* Tablet */
@media only screen (max-width: 768px) {
 .list {
  grid-template-columns: repeat(4, 1fr);
}

.navigasi .nav_daftar{
  width: 50%;
}
}


/* Mobile */
@media only screen (max-width: 650px) {
 .list {
  grid-template-columns: repeat(3, 1fr);
}

.navbar-extra button {
  display: none;
}

.navigasi {
  grid-template-columns: 1fr auto;
  padding: 8px 32px;
}

.navigasi .nav_daftar {
  display:inline-block
}
}